h1 {
  padding: 05px;
  font-style: italic;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #262525;
  padding-bottom: 50px;
}

#main-column {
  background-color: #AEADAD;
  height: 800px;
}

#side-menu {
  width: 200px;
  height: 100%;
  float: left;
  background-color: #262525;
}

.menu-item {
  cursor: pointer;
}
.menu-item {
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

.menu-item:nth-child(1) {
  margin-top: 20px;
}

.menu-item.active {
  background-color: #D3C4BD;
}

.page-content {
  display: none;
}

.page-content.active {
  display: block;
}




